.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  background-color: #d6d2d6;

  .cell_wrapper {
    min-width: 140px;
    min-height: 130px;
    max-height: 130px;
    background-color: #9da4b8;
    // background-color: #bfbbbf;
    color: #dddcdd;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1f21;
  opacity: 0.95;
  // background-color: #1e1f21;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.3s;
  z-index: 9;

  &-wraper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    background-color: #dddcdd;
    padding: 40px 20px 20px 20px;
    transform:  translateY(-50px);
    transition: opacity 0.3s transform 0.3s;
  }

  &-close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

}

.scrollbar::-webkit-scrollbar {
  margin-right: 2px;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}